

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
   
    </header>
    <main class="container">
        <div class="loki">
            <span class="letter">B</span>
            <span class="letter">E</span>
            <span class="letter">T</span>
            <span class="letter">O</span>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
<script src="/script.js"></script>
