<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Radiación Solar</title>

  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="graphic.css" rel="stylesheet" type="text/css" />
  <link href="banner.css" rel="stylesheet" type="text/css" />
  <link href="pagina.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <section class="main-banner">
    <div class="grid-container">
      <div class="content">
        <h1 class="title s-center">
          <span class="line-1">IA y Sol</span>
          <br>
          <span class="line-2">Prediciendo la radiación solar con precisión</span>
        </h1>
        <p class="description s-center">Bienvenido a nuestra plataforma, donde combinamos la inteligencia artificial
          con la energía solar para ofrecerte predicciones precisas de la radiación solar. Nuestro avanzado sistema de
          IA analiza datos en tiempo real para proporcionar información detallada y exacta sobre los niveles de
          radiación solar.</p>
        <div class="countdown flex">
          <div class="flex">
            <div class="countdown-item flex">
              <span id="hours" class="countdown-Number">00</span>
              <span class="countdown-Letter">H</span>
            </div>
            <div class="countdown-item flex">
              <span id="minutes" class="countdown-Number">00</span>
              <span class="countdown-Letter">M</span>
            </div>
            <div class="countdown-item flex">
              <span id="seconds" class="countdown-Number">00</span>
              <span class="countdown-Letter">S</span>
            </div>
          </div>
        </div>
        <div class="container-clock">
          <p id="date">date</p>
        </div>
      </div>
      <div class="graphic">
        <img class="graphic-sun" src="img/sol.png">
      </div>
    </div>
  </section>
  <section class="weather">
    <div class="forecast">
        <div class="day">
            <img src="sunny.png" alt="Sunny">
            <p class="temperature">61°F</p>
            <p class="day-name">MON</p>
        </div>
        <div class="day">
            <img src="sunny.png" alt="Sunny">
            <p class="temperature">64°F</p>
            <p class="day-name">TUES</p>
        </div>
        <div class="day">
            <img src="cloudy.png" alt="Cloudy">
            <p class="temperature">71°F</p>
            <p class="day-name">WED</p>
        </div>
        <div class="day">
            <img src="rainy.png" alt="Rainy">
            <p class="temperature">70°F</p>
            <p class="day-name">THURS</p>
        </div>
        <div class="day">
            <img src="stormy.png" alt="Stormy">
            <p class="temperature">70°F</p>
            <p class="day-name">FRI</p>
        </div>
        <div class="day">
            <img src="sunny.png" alt="Sunny">
            <p class="temperature">72°F</p>
            <p class="day-name">SAT</p>
        </div>
        <div class="day">
            <img src="cloudy.png" alt="Cloudy">
            <p class="temperature">71°F</p>
            <p class="day-name">SUN</p>
        </div>
    </div>
  </section>

  <script src="clock.js"></script>
</body>
