<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Radiaci贸n Solar</title>

  <link href="style.css" rel="stylesheet" type="text/css" />
  <link href="graphic.css" rel="stylesheet" type="text/css" />
  <link href="banner.css" rel="stylesheet" type="text/css" />
  <link href="pagina.css" rel="stylesheet" type="text/css" />
  <link href="uv.css" rel="stylesheet" />
</head>

<body>
  <section class="main-banner">
    <div class="grid-container">
      <div class="content">
        <h1 class="title s-center">
          <span class="line-1">IA y Sol</span>
          <br>
          <span class="line-2">Prediciendo la radiaci贸n solar con precisi贸n</span>
        </h1>
        <p class="description s-center">Bienvenido a nuestra plataforma, donde combinamos la inteligencia artificial
          con la energ铆a solar para ofrecerte predicciones precisas de la radiaci贸n solar. Nuestro avanzado sistema de
          IA analiza datos en tiempo real para proporcionar informaci贸n detallada y exacta sobre los niveles de
          radiaci贸n solar.</p>
  

      </div>
      <div class="graphic">
        <img class="graphic-sun" src="img/sol.png">
      </div>
    </div>    
  </section>
  <section class="weather">
    <div class="forecast">
        <div class="day">
          <div class="countdown flex">
            <div class="uv-container">
              <div class="uv-header">
                  <span> 6:29</span>
                  <span> 17:55</span>
              </div>
              <div id="uv-levels">
                  <!-- Los niveles se agregar谩n aqu铆 din谩micamente -->
              </div>
              <div class="uv-footer">
                  El 铆ndice ultravioleta previsto para hoy en Bay贸var es muy alto.
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <script src="clock.js"></script>
  <script src="grafico.js"></script>
</body>
