.main-banner {
    background: #70e1f5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd194, #70e1f5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    padding: 2rem 1rem 0;
  }
  
  /* Inicio title y description*/
  .title {
  
    font-family: Orbitron, sans-serif;
    font-size: 1.5rem;
  }
  
  .line-1 {
  
    background: -webkit-linear-gradient(to left, #0ABFBC, #f5a905);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #f5a905);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .line-2 {
  
    background: -webkit-linear-gradient(to left, #0ABFBC, #f5a905);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #f5a905);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .description {
    font-size: 0.8rem;
  
  }
  
  @media screen and (min-width: 1024px) {
    .title {
  
      font-family: Orbitron, sans-serif;
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1rem;
  
    }
  }
  
  @media screen and (max-width: 650px) {
    .title {
  
      font-family: Orbitron, sans-serif;
      font-size: 1rem;
    }
  
    .description {
      font-size: 0.6rem;
  
    }
  }
  
  /* Fin title y description*/
  
  /* Inicio countdown */
  
  .flex {
    display: flex;
  }
  
  .countdown {
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  
  
  
  .countdown-item {
    padding: 0.75rem;
    align-items: center;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .countdown-item:not(:last-of-type):before {
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: rgb(12, 24, 16, 0.5);
    opacity: .5;
  }
  
  
  .countdown-Number {
    font-size: 1.75rem;
    font-weight: bold;
    margin-right: .25rem;
    color: #caf202;
  }
  
  .countdown-Letter {
    opacity: .5;
  }
  
  .container-clock {
    text-align: center;
    font-size: 1.75rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #caf202;
  }

  @media screen and (min-width:1024px){
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}