
.graphic {
    
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: center;
    right: 0;
    width: 40%;
    overflow: hidden;
    z-index: 1; /* Ajustar el z-index según sea necesario */
  }
  
  .graphic-sun {
    width: 100%;
    height: auto;
    animation: moveSun 2s linear forwards;
    grid-column-start: 2;
  }
  
  @keyframes moveSun {
    0% {
      transform: translateX(80%);
    }
  
    100% {
      transform: translateX(9%);
    }
  }
  
  @media screen and (max-width: 1024px) {
    .graphic {
      display: none; /* Oculta el contenedor gráfico en pantallas pequeñas */
    }
  }