@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html,body {
  height: 100%;
  width: 100%;
  margin:0;
}
body{

  font-family: Manrope,sans-serif;
  line-height: 1.6;
}

.s-center {
  text-align: center;
}

.flex{
  display: flex;
}
